<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form #surveyForm="ngForm" (submit)="onSubmit(surveyForm)">
    <mat-horizontal-stepper #stepper>
      <!--

                    ###
                     #  #    # ######  ####
                     #  ##   # #      #    #
                     #  # #  # #####  #    #
                     #  #  # # #      #    #
                     #  #   ## #      #    #
                    ### #    # #       ####


-->

      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Information</ng-template>
        <h3>PLEASE INTER YOUR PERSONAL INFORMATION?</h3>

        <mat-form-field *ngFor="let info of information">
          <mat-label>{{ info.placeHolder }}</mat-label>
          <input
            matInput
            [type]="info.type"
            [placeholder]="info.placeHolder"
            [name]="info.name"
            [ngModel]="mode === 'edit' ? form[info.name] : ''"
            required
            #firstName="ngModel"
          />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-error *ngIf="firstName.invalid"
            >Please Enter the {{ info.placeHolder }}</mat-error
          >
        </mat-form-field>
        <div>
          <button
            mat-stroked-button
            matStepperNext
            type="button"
            class="botNext"
          >
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </mat-step>

      <!--

                    #######
                    #     # #####  # #    # #  ####  #    #
                    #     # #    # # ##   # # #    # ##   #
                    #     # #    # # # #  # # #    # # #  #
                    #     # #####  # #  # # # #    # #  # #
                    #     # #      # #   ## # #    # #   ##
                    ####### #      # #    # #  ####  #    #


-->

      <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Opinion</ng-template>
        <h3 class="liketext">WHAT DID LIKE MOST ABOUT THE CAMPUS?</h3>
        <section>
          <mat-checkbox
            *ngFor="let like of likes"
            class="example-margin"
            [name]="like.name"
            [ngModel]="mode === 'edit' ? form[like.name] : ''"
          >
            {{ like.name }}
          </mat-checkbox>
        </section>
        <h3>HOW DO YOU BECAME INTERESTED IN THE UNIVERSITY?</h3>
        <mat-radio-group
          *ngFor="let int of intrested"
          [ngModel]="mode === 'edit' ? form['intrested'] : ''"
          name="intrested"
        >
          <mat-radio-button [value]="int.name">{{ int.name }}</mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-stroked-button color="accent" matStepperPrevious>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button
            mat-stroked-button
            matStepperNext
            type="button"
            class="botNext"
          >
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </mat-step>

      <!--

                     #####
                    #     #  ####  #    # #    # ###### #    # #####
                    #       #    # ##  ## ##  ## #      ##   #   #
                    #       #    # # ## # # ## # #####  # #  #   #
                    #       #    # #    # #    # #      #  # #   #
                    #     # #    # #    # #    # #      #   ##   #
                     #####   ####  #    # #    # ###### #    #   #


-->

      <mat-step [stepControl]="thirdFormGroup">
        <ng-template matStepLabel>Comments</ng-template>

        <h3 class="liketext">
          HOW LIKELY DO YOU RECOMMEND THIS SCHOOL TO OTHER PROSPECTIVE STUDENTS?
        </h3>
        <mat-form-field class="comment">
          <mat-select
            name="suggest"
            required
            [ngModel]="mode === 'edit' ? form.suggest : ''"
          >
            <mat-option value="very">Very Likely</mat-option>
            <mat-option value="likely">Likely</mat-option>
            <mat-option value="unlikely">Unlikely</mat-option>
          </mat-select>
          <mat-label><mat-icon>favorite</mat-icon> Do You Recommend?</mat-label>
        </mat-form-field>
        <mat-form-field class="comment">
          <textarea
            matInput
            rows="6"
            placeholder="Your Commnets"
            name="content"
            [ngModel]="mode === 'edit' ? form['content'] : ''"
            required
            #content="ngModel"
          ></textarea>
          <mat-error *ngIf="content.invalid"
            >Please write the post content</mat-error
          >
        </mat-form-field>
        <div>
          <button mat-stroked-button color="accent" matStepperPrevious>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button
            mat-stroked-button
            matStepperNext
            type="button"
            class="botNext"
          >
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </mat-step>

      <!--

                    ######
                    #     #   ##   ###### ###### #      ######
                    #     #  #  #  #      #      #      #
                    ######  #    # #####  #####  #      #####
                    #   #   ###### #      #      #      #
                    #    #  #    # #      #      #      #
                    #     # #    # #      #      ###### ######


-->

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <h3 class="liketext">ENTER YOUR RAFFLE TO WIN!!!</h3>
        <mat-form-field>
          <input
            matInput
            placeholder="RAFFLE"
            name="raffle"
            [ngModel]="mode === 'edit' ? form['raffle'] : ''"
          />
        </mat-form-field>
        <div>
          <button mat-stroked-button color="accent" matStepperPrevious>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button
            mat-stroked-button
            color="primary"
            type="submit"
            class="botNext"
          >
            SUBMIT
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-card>
