:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-grid-tile {
  background: lightblue;
  display: block;
}
mat-expansion-panel-header {
  text-transform: uppercase;
  letter-spacing: 1px;
  /* text-shadow: 2px 1px rgba(0, 0, 0, 0.3); */
  font-weight: bold;
}

.titr {
  display: block;
}

.mat-caption {
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
mat-body {
  text-transform: uppercase;
}
